@if (authService.getToken()) {
  @for (item of product; track $index) {
    <div class="card">
      <div class="product-image">
        <!-- Product image here -->
      </div>
      <div class="content">
        <div class="name">
          <p>{{ item.name }}</p>
          <p>{{ item.description }}</p>
        </div>
        <div class="stats">
          <p>Price: {{ item.price }}</p>
          <p>Quantity: {{ item.qty }}</p>
          <!-- <button (click)="addCart(item.id, item.qty)">Add to cart</button> -->
        </div>
        <button (click)="onUpdate(item.id)">Update</button>
        <button (click)="onDelete(item.id)">Delete</button>
      </div>
    </div>
  }
  <app-add-card></app-add-card>
}